{% load i18n %}
{% block email_header %}
  <h1>Confirmation Signup</h1>
{% endblock %}

{% block email_content %}

  <p>{% blocktranslate %}You're receiving this email because user {{ user.profile.first_name }} has given your email address to register an account on https://vinta_schedule.com.br/.{% endblocktranslate %}</p>

  <p>{% if code %}{% blocktranslate %}Your email verification code is listed below. Please enter it in your open browser window.{% endblocktranslate %}</p>

  <h3 style="text-align: center;">{{ code }}</h3>
  {% else %}{% blocktranslate %}><p>To confirm this is correct, go to <a href="{{ activate_url }}">{{ activate_url }}</a>.</p>{% endblocktranslate %}
  {% endif %}

{% endblock %}

{% block email_footer %}
  <p><small>{% blocktranslate %}This is an automated message. Please do not reply to this email.{% endblocktranslate %}</small></p>
  <p><small>{% blocktranslate %}For more information, visit our <a href="{{ base_url }}">website</a>.{% endblocktranslate %}</small></p>
{% endblock %}
