{% load i18n %}
{% block email_header %}
  <h1>Confirmation Signup</h1>
{% endblock %}

{% block email_content %}

  <p>{% blocktrans %}You're receiving this email because user {{ user.profile.first_name }} has given your email address to register an account on https://vinta_schedule.com.br/.{% endblocktrans %}</p>

  <p>{% if code %}{% blocktrans %}Your email verification code is listed below. Please enter it in your open browser window.{% endblocktrans %}</p>

  <h3 style="text-align: center;">{{ code }}</h3>
  {% else %}{% blocktrans %}><p>To confirm this is correct, go to <a href="{{ activate_url }}">{{ activate_url }}</a>.</p>{% endblocktrans %}
  {% endif %}

{% endblock %}

{% block email_footer %}
  <p><small>{% blocktrans %}This is an automated message. Please do not reply to this email.{% endblocktrans %}</small></p>
  <p><small>{% blocktrans %}For more information, visit our <a href="{{ base_url }}">website</a>.{% endblocktrans %}</small></p>
{% endblock %}
