{% load i18n %}
{% block email_header %}
  <h1>{% trans "Reset your password" %}</h1>
{% endblock %}

{% block email_content %}
<p>{% blocktrans with first_name=user.first_name %}Dear {{ first_name }},{% endblocktrans %}</p>
{% blocktrans %}You're receiving this email because you or someone else has requested a password reset for your user account.
It can be safely ignored if you did not request a password reset. Click the link below to reset your password.{% endblocktrans %}

<p>
  <a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
</p>
{% endblock %}

{% block email_footer %}
  <p><small>{% blocktrans %}This is an automated message. Please do not reply to this email.{% endblocktrans %}</small></p>
  <p><small>{% blocktrans %}For more information, visit our <a href="{{ base_url }}">website</a>.{% endblocktrans %}</small></p>
{% endblock %}
