{% load i18n %}
{% block email_header %}
  <h1>Confirmation Signup</h1>
{% endblock %}

{% block email_content %}
<p>{% blocktrans %}Dear {{ user.profile.first_name }},{% endblocktrans %}</p>
{% blocktrans %}You're receiving this email because you or someone else has requested a password reset for your user account.
It can be safely ignored if you did not request a password reset. Click the link below to reset your password.{% endblocktrans %}

<p>
  <a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
</p>

{% blocktrans %}In case you forgot, your username is {{ user.username }}.{% endblocktrans %}{% endif %}
{% endblock %}

{% block email_footer %}
  <p><small>{% blocktranslate %}This is an automated message. Please do not reply to this email.{% endblocktranslate %}</small></p>
  <p><small>{% blocktranslate %}For more information, visit our <a href="{{ base_url }}">website</a>.{% endblocktranslate %}</small></p>
{% endblock %}
